table, th, tr, td {
    padding: 0;
    border: none;
}

td {
    padding-right: 10px;
    font-size: 13px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_box {
    align-items: normal;
    flex-direction: row;
    background-color: #f5f6f8;
}

.info {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.info_profileCard {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info .info_profileCard div {
    margin-top: 25px;
}

.info .info_profileCard .nickname {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}

.btn-link {
    text-align: center;
}

.card-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.card-body i {
    margin-right: 10px;
    font-size: 18px;
}

.fa-heart {
    color: red;
}

.fa-star {
    color: yellow;
}

.fa-unlock {
    color: forestgreen;
}

.fa-id-card {
    color: midnightblue;
}

.password_change {
    text-align: center;
}