<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.whattodo.crawling.CrawlingMapper">
    <!-- 게임메카 관련 -->
    <insert id="insertRankMecaDb">
        INSERT INTO meca_rankdb(rankNm, rankNum, company) VALUES
        <foreach collection="list" open="(" close=")" separator="),(" item="rank">
             #{rank.rankNm}, #{rank.rankNum}, #{rank.company}
        </foreach>
    </insert>

    <delete id="delMecaRank">
        DELETE FROM meca_rankdb
    </delete>
    
    <select id="mecaRankList" resultType="MecaRankEntity">
        SELECT rankNum, rankNm, company FROM meca_rankdb ORDER BY irank
    </select>

    <!-- 스팀 관련 -->
    <insert id="insertRankSteamDb">
        INSERT INTO steam_rankdb(rankNm, rankNum) VALUES
        <foreach collection="list" open="(" close=")" separator="),(" item="rank">
            #{rank.rankNm}, #{rank.rankNum}
        </foreach>
    </insert>

    <delete id="delSteamRank">
        DELETE FROM steam_rankdb
    </delete>

    <select id="steamRankList" resultType="SteamRankEntity">
        SELECT rankNum, rankNm FROM steam_rankdb ORDER BY irank
    </select>

    <!-- 게임 rating 관련 -->
    <insert id="insertRatingDb">
        INSERT INTO rating_Game(gameNm, gameRating, gameRank) VALUES
        <foreach collection="list" open="(" close=")" separator="),(" item="rating">
            #{rating.gameNm}, #{rating.gameRating}, #{rating.gameRank}
        </foreach>
    </insert>

    <delete id="delRating">
        DELETE FROM rating_Game
    </delete>

    <select id="ratingList" resultType="RatingEntity">
        SELECT gameRank, gameNm, gameRating FROM rating_Game ORDER BY rnum
    </select>

<!--  모바일게임 순위  /-->
    <insert id="insertMobileRankDb">
        INSERT INTO mobile_rankdb(gameNm, rankNum, company) VALUES
        <foreach collection="list" open="(" close=")" separator="),(" item="rank">
            #{rank.gameNm}, #{rank.rankNum}, #{rank.company}
        </foreach>
    </insert>

    <delete id="delMobileRank">
        DELETE FROM mobile_rankdb
    </delete>

    <select id="mobileRankList" resultType="MobileRankEntity">
        SELECT rankNum, gameNm, company FROM mobile_rankdb ORDER BY irank
    </select>

<!--    X-BOX순위-->
    <insert id="insertXRankDb">
        INSERT INTO xbox_rankdb(gameNm, rankNum) VALUES
        <foreach collection="list" open="(" close=")" separator="),(" item="rank">
            #{rank.gameNm}, #{rank.rankNum}
        </foreach>
    </insert>

    <delete id="delXRank">
        DELETE FROM xbox_rankdb
    </delete>

    <select id="XRankList" resultType="XRankEntity">
        SELECT rankNum, gameNm FROM xbox_rankdb ORDER BY irank
    </select>
</mapper>