<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.whattodo.video.VideoMapper">
    <insert id="insertBoxOffice">
        INSERT INTO video_movie(boxofficeType, showRange, rank, movieNm, movieCd, openDt) VALUES
        <foreach collection="list" open="(" close=")" separator="),(" item="movie">
            #{movie.boxofficeType}, #{movie.showRange},#{movie.rank},#{movie.movieNm},#{movie.movieCd},#{movie.openDt}
        </foreach>
    </insert>

    <update id="updateImgBoxOffice">
        UPDATE video_movie SET img = #{img}, rating = #{rating}, actor = #{actor}, director = #{director} WHERE movieNm=#{movieNm};
    </update>

    <delete id="delBoxOffice">
        DELETE FROM video_movie
    </delete>

    <select id="selBoxOffice" resultType="VideoMovieEntity">
        SELECT * FROM video_movie WHERE boxofficeType='주간 박스오피스'
    </select>

    <select id="selBoxOfficeRandom" resultType="VideoMovieEntity">
        SELECT * FROM video_movie WHERE boxofficeType='주간 박스오피스' ORDER BY RAND() LIMIT 3
    </select>
</mapper>