<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.whattodo.crawling.CrawlingMapper">
    <!-- 네이버웹툰 -->
    <insert id="insertWebtoon">
        INSERT INTO webtoon(wnum, nm, writer, rating, img, hompage) VALUES
            #{wnum}, #{nm}, #{writer}, #{rating}, #{img}, #{hompage}
    </insert>

    <delete id="delWebtoon">
        DELETE FROM webtoon
    </delete>

    <select id="webtoonList" resultType="WebtoonEntity">
        SELECT * FROM webtoon ORDER BY irank LIMIT 50;
    </select>

</mapper>