.container {
    display: block;
    text-align: center;
}

.join_container > h1 {
    padding: 30px 0 15px 0;
}

.join_container > form > div {
    padding-bottom: 30px;
}

.join_title {
    text-align: center;
}

.textBox {
    width: 25%;
    border-radius: 4px;
    border: solid 1px #dddddd;
    padding: 10px 110px 10px 8px;
}

.textBox:focus {
    outline: none;
    border: solid 1px #dddddd;
}

.selBox {
    width: 25%;
    border-radius: 4px;
    padding: 10px 205px 10px 8px;
    border: solid 1px #dddddd;
}

.selBox:focus {
    border: solid 1px #dddddd;
    outline: none;
}

.msg_n {
    display: none;
}

.err_msg_b {
    font-weight: normal;
    color: red;
    display: block;
    font-size: 1rem;
}

.successMsg {
    font-weight: normal;
    color: green;
    display: block;
}

.prevText {
    display: flex;
    justify-content: center;
}

.prevChk {
    zoom: 2;
    width: 1rem;
}









.back_btn {
    padding: 10px 60px;
    background-color: #D3D3D3;;
    color: #696969;
    border: none;
    border-radius: 4px;
}

.back_btn:hover {
    background-color: #808080;
    color: #ffffff;
}

.submit_btn {
    padding: 10px 60px;
    background-color: #03c75a;;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}

.submit_btn:hover {
    background-color: #008d62;
}






.footer {
    position: fixed;
    bottom: 0;
}
