.left_section {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, minmax(200px, auto));
}

.member_section {
    display: inline-block;
    text-align: left;
    height: 30vh;
}
.tech_section {
    height: 30vh;
}

.random_img {
    width: 100px;
    height: 100px;
}