h1 {
    text-align: center;
}

a, a:link ,a:visited, a:hover, a:active { color: white; text-decoration: none; }

span {
    font-family: 'Nanum Gothic', sans-serif;
}

button:hover {
    cursor: pointer;
}

.webtoonModalElement {
    cursor: pointer;
}

.webtoonLink {
    display: none;
}

.webtoonInfoHidden {
    display: none;
}


#recommand_box ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px 0;
}

#recommand_box ul li {
    margin: 10px;
}

.recommend_section span {
    text-align: center;
    display: block;
}

.recommend_section .webtoonLink {
    display: none;
}

.webtoon_box {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.webtoon_box .result_box {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.webtoon_box .result_box #genre_title {
    margin: 10px 0;
    background: linear-gradient(to right,var(--main-color), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.webtoon_box .webtoon_nm {
    margin: 5px 0;
    font-family: 'Nanum Gothic', sans-serif;
}

.naver_section {
    flex: 2 1 auto;
    display: flex;
    justify-content: center;
}

.naver_section ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.naver_section ul li {
    margin: 0 10px;
}

.naver_section #webtoon_databox span {
    display: block;
    width: 83px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}

/* MODAL CSS */

#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
    background: rgba( 69, 139, 197, 0.70 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    min-width: 350px;
    top: -100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#modal .modal-window span {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
}
.modalTitle {
    padding-left: 10px;
    display: block;
    text-shadow: 1px 1px 2px gray;
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 20px 0px;
    font-family: 'Black Han Sans', sans-serif;
}

#modal .close-area {
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
    font-size: larger;
}

.modalContent {
    margin-top: 20px;
    padding: 0px 10px;
    text-shadow: 1px 1px 2px gray;
    color: white;
    text-align: center;
}

.modalContent li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalContent li span {
    margin: 10px 0;
}

.modalContent li .webtoonLink {
    display: inline-block;
}

.modalContent a:link {
    color: whitesmoke;
}

.modalContent a:hover {
    color: lightgreen;
}

.modalContent img {
    border-radius: 10px;
}

#reviewFrm {
    margin-bottom: 20px;
}

#review_list {
    display: flex;
    justify-content: center;
}

#review_list table, td, th {
    border: none;
}

.reviewTextInput {
    border-radius: 30px;
    height: 23px;
    border: 0;
    width: 220px;
    margin-left: 20px;
    padding: 10px;
}

#btn_submit {
    margin-left: 5px;
    border-radius: 30px;
    border: 0;
    height: 23px;
    width: 45px;
}
