.container {}

#writeContainer{ display: flex;flex-direction: column; margin: 0; width: 70%;
        }

#writeFrm {}

#writeElem1 { display: flex; margin-bottom: 10px;
}
#writeElem1 > input { width: 100%; border: 1px solid mediumaquamarine; font-size: large}

#writeElem2 { display: flex; flex-direction: column;
}

#writeElem3 { display: flex; flex-direction: column;
}

.writeBtn {
    font-size: large;
    background-color: greenyellow;
    border: none;
    padding: 5px 10px;
    margin-top: 20px;
}

p {display: inline-block;}

#wTitle {
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: x-large;
    border-bottom: 1px solid mediumaquamarine;

}

textarea {resize: none; width: 100%; height: 200px; border: 1px solid mediumaquamarine;
    font-size: large;
}